.apresentacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3% 7%;
    gap: 60px;
}

.apresentacao__conteudo {
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

.apresentacao__conteudo__subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;    
}

.titulo-destaque{
    color: var(--cor--terciaria);
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao__conteudo__linguagens {
    text-align: center;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;    
}

.apresentacao__links__navegacao {
    display: flex;
    justify-content: center;
    gap: 16px;
    align-items: flex-end;
    border: 2px solid var(--cor--terciaria);
    width: 50%;
    margin: 2px;
    text-align: center;
    border-radius: 8px;    /* arredondamento de borda */
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 5px;      /* espaço entre a borda e o texto */
    text-decoration: none;  /* remover sublinhado */
    color: var(--cor--secundaria);
    font-family: var(--fonte-secundaria);
}

.apresentacao__imagem {
    width: 60%;
}

.apresentacao__links__navegacao:hover {
    background-color: var(--cor--hover);
    padding: 3%;
}

@media screen and (min-width: 1024px) {
    .apresentacao {
        flex-direction: row-reverse;
        padding: 5% 7%;
    }

    .apresentacao__conteudo {
        width: 50%;
    }

    .apresentacao__imagem {
        width: 50%;
    }
}

@media screen and (min-width: 1728px) {
    .apresentacao {
        flex-direction: row-reverse;
        padding: 5% 10%;
    }

}

@media screen and (min-width: 1860px) {
    .apresentacao__imagem {
        width: 40%;
    }
}