.hr-cabecalho {
    border-color: var(--cor--terciaria);
    border-width: 2px;
    margin: 0 5%;
}

.hr-menu {
    background-color: var(--cor--secundaria);
    border-width: 0.5px;
    margin: 0 5%;
}

.cabecalho__menu-hamburguer {
    background-image: url("../assets/menu.png");
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;

}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.cabecalho__titulo{
    font-family: var(--fonte-poppins);
    font-weight: 300;
    font-size: 30px;
    color: var(--cor--terciaria);
}

.container {
    padding: 3% 0;
}

.container__imagem {
    padding: 1em;
}

.lista-menu {
    display: none;
    position: absolute;
    background-color: var(--cor--secundaria);
    border-radius: 16px;
    list-style-type: none;
    right: 2%;
}

.container__botao:checked~.lista-menu {
    display: block;
}

.lista-menu__item {
    padding: 1em;
}

.lista-menu__link {
    text-decoration: none;
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    color: var(--cor--primaria);
    text-transform: uppercase;
}

.container__botao {
    display: none;
}

.cabecalho__menu {
    display: none;
}

.cabecalho__menu__link:hover {
    color: var(--cor--terciaria);
}


@media screen and (min-width: 1024px) {
    .cabecalho {
        padding: 1% 5%;
    }

    .cabecalho__menu-hamburguer {
        display: none;
    }

    .cabecalho__menu {
        display: flex;
        justify-content: center;
        gap: 15px;
    }

    .cabecalho__menu__link {
        /*border: 1px solid var(--cor--terciaria);
        border-radius: 8px;*/
        padding: 5px;
        color: var(--cor--secundaria);
        font-family: var(--fonte-secundaria);
        font-size: 30px;
        font-weight: 600;
        text-decoration: none;
    }

    .lista-menu {
        right: 8%;
    }

    .cabecalho__titulo {
        font-size: 40px;
    }
}

@media screen and (min-width: 1728px) {
    
}
